In [6]:
# main.ipynb

# from extract import extract_data
# from transform import transform_data
# from database import create_connection, create_table
# from load import load_data

%run extract.ipynb
%run transform.ipynb
%run database.ipynb
%run load.ipynb

import pandas as pd

# Step 1: Extract
df_extracted = extract_data("data.csv")

# Step 2: Transform
df_transformed = transform_data(df_extracted)

# Step 3: Load
conn = create_connection()
create_table(conn)
load_data(df_transformed, conn)

# Step 4: Verify
result = pd.read_sql("SELECT * FROM employees", conn)
print(result)

 Data extracted successfully
ðŸ”§ Transforming data...
âœ… Transformation complete
 Database connected
 Table created
 Data loaded into database
   id           name  age department   salary         joining_date
0   1  Alice Johnson   25      Sales  50000.0  2023-01-01 00:00:00
1   2      Bob Smith   30  Marketing  55000.0  2023-02-01 00:00:00
2   3  Charlie Davis   29         HR  60000.0  2023-03-01 00:00:00
3   4      David Lee   28    Finance  52000.0  2023-04-01 00:00:00
4   5      Eva Brown   27         IT  56500.0  2023-05-01 00:00:00
5   6   Frank Miller   35      Sales  72000.0  2023-06-01 00:00:00
6   7      Grace Kim   31         IT  65000.0  2023-07-01 00:00:00
7   8   Henry Wilson   29    Finance  58000.0  2023-08-01 00:00:00
8   9      Ivy Adams   33  Marketing  56500.0  2023-09-01 00:00:00
9  10    Jack Turner   26      Sales  49000.0  2023-10-01 00:00:00